@import "tailwindcss";


* {
  font-family: "Poppins", sans-serif;
  /* outline: 1px solid red; */
  
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  width: 100%
}

:root {
  --theme-color: #f97316;
}

.active-link {
  color: var(--theme-color) !important;
}
