@import "tailwindcss";


* {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

:root {
  --theme-color: #f97316;
}

.active-link {
  color: var(--theme-color) !important;
}